#container {
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: #f8f8f8;
}

.title {
    color: #AE2717;
    position: absolute;
    width: 164px;
    height: 38px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto;
    font-weight: 600;
    font-size: 32px;
}
/* homebar */
.menubar{
position: absolute;
  width: 280px;
  top: 99px;
  left: 340px;
  border-radius: 6px;
  background-color: #FFFFFF; /* Example background color */
  padding: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.element a {
    color: #8F8D90;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    padding-left: 10px;
}

.element img{
    width: 20px;
}

/* searchbar */
.searchbar{
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    position: absolute;
    width: 280px;
    height: 39px;
    top: 220px;
    left: 340px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 10px;
}

.searchbar a{
    color: black;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    padding-left: 10px;
}
.search img{
    width: 20px;
    height: 20px;
    top: 127px;
    left: 380px;
}

/* profile */
.profilemenu .button-profile{
    border-radius: 100px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    position: absolute;
    top: 150px;
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto;
}

.profilemenu .button-logout{
    border-radius: 100px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    position: absolute;
    top: 250px;
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto;
}

.profilemenu .button-addQuestion{
    border-radius: 100px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    position: absolute;
    top: 200px;
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto;
}


.profilemenu{
    padding: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 280px;
    height: 300px;
    top: 99px;
    left: 1300px; 
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 

}

.profilemenu img{
    width: 93px;
    height: 96px;
}

/* profiles */
.profilemenu .username {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 200px;
    height: 14px;
    top: 115px;
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto;
  }

 /*content */
.contentpic img{
    position: absolute;
    width: 620px;
    height: 358px;
    top: 101px;
    left: 640px;
    border-radius: 6px;
}

#group{
    position: absolute;
    width: 151px;
    height: 19px;  
    top: 470px;
    left: 660px;
    font-size: 400;
    font-family: Roboto;
    font-size: 16px;
    color: #8F8D90;
}

#articletitle{
    position: absolute;
    width: 599px;
    height: 40px;
    top: 470px;
    left: 661px;
    font-size: 20px;
    font-weight: 400;
    font-family: Roboto;
    color: #000000;
}

#summary{
    position: absolute;
    width: 599px;
    height: 40px;
    top: 533px;
    left: 661px;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    color: #8F8D90;
}

/* user */
.question-container {
    position: absolute;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; /* 100vh take up the full height of the viewport */
    width: 640px;
    height: 319px;
    top: 540px;
    left: 610px;
}

.question .usericon img{
    width: 48px;
    height: 47.08px;

}
.question .usernameComment{

    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
}
.question .lastreply{

    font-family: Roboto;
    font-weight: 400;
    font-size: 12px; 
}

.question {
   
    width: 640px;
    height: 319px;
    top: 540px;
    left: 610px;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
    border: solid 1px #000;
    background-color: #fff;
    display:block;
  }


  .question p{
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}
.more-button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.more-button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.more-button:hover {
    background-color: #0056b3;
}

.comment1 button{
    position: absolute;
    top: 603px;
    left: 1183px;
    border-radius: 100px;
    border: 1px solid black;
    background-color: #FFFFFF;
    padding: 10px 24px 10px 24px;
    gap: 8px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
}

.comment1 p{
    position: absolute;
    width: 599px;
    height: 240px;
    top: 661px;
    left: 661px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}
.answer1 #write{
    position: absolute;
    width: 502px;
    height: 39px;
    top: 941px;
    left: 661px;
    border-radius: 30px;
    border: 1px solid black;
}
.answer1 ::placeholder{
    font-size: 12px;
    font-weight: 400;
    color: #8F8D90;
    position: absolute;
    width: 185px;
    height: 14px;
    left: 15px;
    font-family: Roboto;
}
.answer1 #button-send{
    position: absolute;
    top: 940px;
    left: 1183px;
    border-radius: 100px;
    gap: 8px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    background-color: #AE2717;
    color: #FFFFFF;
    border: none
}

/* post2 */
.post2 img{
    width: 48px;
    height: 47.08px;
    position: absolute;
    top: 1043px;
    left: 660px;
}

.usernameAnswer{
    position: absolute;
    top: 1048px;
    left: 728px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
}
.lastAnswer{
    position: absolute;
    top: 1068px;
    left: 728px;
    width: 237px;
    height: 14px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px; 
}
.post2 .button-following{
    border-radius: 100px;
    background-color: #8F8D90;
    border: none;
    position: absolute;
    top: 1051px;
    left: 1183px;
    width: 77px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto;
    color: #FFFFFF;
}

.post2 p{
    position: absolute;
    width: 599px;
    height: 240px;
    top: 1115px;
    left: 661px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

#like img{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 1251px;
    left: 661px;
}
#dislike img{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 1251px;
    left: 750px;
}
#view img{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 1251px;
    left: 854px;
}
.icontitle1{
    position: absolute;
    width: 49px;
    height: 14px;
    top: 1252px;
    left: 687px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    color: #8F8D90;
}
.icontitle2{
    position: absolute;
    width: 49px;
    height: 14px;
    top: 1252px;
    left: 777px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    color: #8F8D90;
}
.icontitle3{
    position: absolute;
    width: 49px;
    height: 14px;
    top: 1252px;
    left: 880px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    color: #8F8D90;
}
.relatedContainer{
    background: #EBEBEB;
    position: absolute;
    width: 640px;
    height: 344px;
    top: 1489px;
    left: 640px;
}
.titleRelated{
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    color: #8F8D90;
    position: absolute;
    width: 258px;
    height: 19px;
    top: 20px;
    left: 20px;
}

#related1 img{
    position: absolute;
    width: 280px;
    height: 190px;
    top: 55px;
    left: 28px;
    border-radius: 6px;
}
#related2 img{
    position: absolute;
    width: 280px;
    height: 190px;
    top: 55px;
    left: 338px;
    border-radius: 6px;
}
#related1Title{
    position: absolute;
    width: 151px;
    height: 19px;
    top: 250px;
    left: 29px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    color: #8F8D90;
}
#related2Title{
    position: absolute;
    width: 151px;
    height: 19px;
    top: 250px;
    left: 340px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    color: #8F8D90;
}
#related1Heading{
    position: absolute;
    width: 151px;
    height: 19px;
    top: 280px;
    left: 29px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
}
#related2Heading{
    position: absolute;
    width: 151px;
    height: 19px;
    top: 280px;
    left: 340px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
}

/*search */
#query{
    border-radius: 6px;
    width: 570px;
    height: 70px;
    background-color: #f8f8f8;
}

.search-container {
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This makes the container take up the full height of the viewport */
    width: 640px;
    height: 39px;
    top: 110px;
    left: 630px;
    border-radius: 6px;

    

}




/* Login Modal */
.login-modal {
    width: 400px;
    max-width: 90%;
    height: auto;
    padding: 20px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}

.login-modal h2 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}

.login-modal input[type="text"],
.login-modal input[type="password"] {
    width: calc(100% - 20px); 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-modal .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.login-modal button {
    flex-grow: 1;
    padding: 10px 24px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #fff;
    color: #007bff;
    cursor: pointer;
    text-align: center;
    margin-left: 5px;
}

.login-modal button:hover {
    background-color: #e6f2ff;
}

.login-modal .close-btn {
    background-color: #dc3545;
    color: #fff;
    border-color: #dc3545;
}

.login-modal .close-btn:hover {
    background-color: #a71d2a;
}

.alert-modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

.button-addQuestion a {
    color: inherit; 
    text-decoration: none; 
    width: 100%; 
    height: 100%;
    text-align: center; 
    position: relative;
}