<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>

    <body>   
        <div id="title">
                <h2>IntelliShare</h2>
        </div>
        <div class="container">
        <!--  menu bar -->
        <div class="menu">
            <a href="index.html" class="menu-item">Home</a>
            <a href="#" class="menu-item">Business</a>
            <a href="#" class="menu-item">Sports</a>
            <a href="search.html" class="menu-item">Search</a>
        </div>

        <!-- select posts go here-->
        <div class="posts">
            <div class="post">
                <h3>Post Title</h3>
                <p>Post Content</p>
            </div>

            <div class="post">
                <h3>Post Title</h3>
                <p>Post Content</p>
            </div>

            <div class="post">
                <h3>Post Title</h3>
                <p>Post Content</p>
            </div>

        </div>
        
        <!-- Log on function goes here -->
        <div class="logon">
            <div>
                <a href="#" class="menu-item">Sign up/Login</a>
                <a href="#" class="menu-item">Add a question</a>
            </div>
            
        </div>

        </div>
    </body>

</html>